Explanation: 

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability make them different.

In [1]:
#creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))

tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
#tuple converting into  list
numbers=tuple([1,2,3,4,5,6,7])
numbers

(1, 2, 3, 4, 5, 6, 7)

In [17]:
#List converting into tuple
numbers=(1,2,3,4,5,6,7)
type(numbers)

tuple

In [7]:
#mixed tuple
mixed_tuple=(1,"hello naran",2.4,True)
mixed_tuple

(1, 'hello naran', 2.4, True)

In [ ]:
##Accesing tuple elements 

numbers

[1, 2, 3, 4, 5, 6, 7]

In [9]:
numbers[1]

2

In [10]:
numbers[2]

3

In [11]:
numbers[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [12]:
numbers[0:4]

[1, 2, 3, 4]

In [13]:
numbers[1:0]

[]

Tuple operations

In [19]:
concatenation=numbers+mixed_tuple
print(concatenation)

(1, 2, 3, 4, 5, 6, 7, 1, 'hello naran', 2.4, True)

In [22]:
mixed_tuple

(1, 'hello naran', 2.4, True)

In [23]:
numbers *3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [27]:
## Immutable Nature of Tuples
## tuples are immutables , meaning their elements cannot be changed once assigned 

#for list
lst=[1,2,3,4,5]
print(lst)

lst[1]="naran"
print(lst)

tuple=(1,2,3,4,5,6)
print(tuple)
tuple[1]="naran"
print(tuple)

[1, 2, 3, 4, 5]
[1, 'naran', 3, 4, 5]
(1, 2, 3, 4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [29]:
numbers=(1,2,3,4,5,6)

In [ ]:
##Tuple methods 
print(numbers.count(1))
print(numbers.index(3)) # which index

1
2

In [43]:
##Packing and unpacking tuple
#packing
packed_tuple=1,"hello",3
print(packed_tuple)

(1, 'hello', 3)

In [44]:
#Unpacking a tuple
a,b,c =packed_tuple
print(a)
print(b)
print(c)

1
hello
3

In [45]:
##Unpacking with star(*)

numbers=(1,2,3,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 3, 4, 5]
6

In [ ]:
##Nested Tuple
#list ho yo
lst=[[1,2,3,4,5],[6,7,8,9],[1,"hello","hi",3.2]]
print(lst[0][::-1])

[5, 4, 3, 2, 1]

In [54]:
#Nested tuple
nested_tuple=((1,2,3,4,5),(6,7,8,9),(1,"hello","hi",3.2))
print(nested_tuple[0])
print(nested_tuple[1])
print(nested_tuple[2])
print(nested_tuple[0][1])

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

(1, 2, 3, 4, 5)
(6, 7, 8, 9)
(1, 'hello', 'hi', 3.2)
2
1 2 3 4 5
6 7 8 9
1 hello hi 3.2

Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. they are commonly used in data structure, function arguments and return values, and as dictionary keys, Understading how to leverage tuples effectively can improve the efficiency and readability of python code