Sets 
Sets are a build-in data type in python used to store collections of unique items. They are unordered, meaning that the element do not follow a specific order, and They do not allow duplicate elements. Sets are useful for membership tests. eliminating duplicate entries, and performing mathematical set operations like union,intersection,difference,and symmetric difference.

In [70]:
##create a set 

my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [71]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [72]:
my_empty_set=set([1,2,3,4,5,6,1])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [73]:
## basic sets operations 
## Adding and removing elements 
my_set=set([1,2,3,4,5,6,1])
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [74]:
my_set.remove(3)
my_set

{1, 2, 4, 5, 6, 7}

In [75]:
my_set.remove(129)
my_set

KeyError: 129

In [ ]:
my_set.discard(11) # it doesnot through the error 
my_set

{1, 2, 4, 5, 6, 7}

In [ ]:
## Pop method
remove_element=my_set.pop() # first element will be poped or remove
print(remove_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [ ]:
#Clear all the element 
my_set.clear()
my_set

set()

In [ ]:
##Set memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(20 in my_set)

True
False

In [ ]:
##Mathematical operation 

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

###Unition 
union_set=set1.union(set2)
print(union_set)

##Intersection
##common set from both set

intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2) ## it update the set1 with the intersection elements
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
##Difference 
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
print(set1.difference(set2))

##difference_update
print(set2.difference_update(set1))

{1, 2, 3}
None

In [ ]:
set1

{1, 2, 3, 4, 5, 6}

In [92]:
set2.difference(set1)
set1

{1, 2, 3, 'naran'}

In [63]:
## Symentric Difference ## common are remove
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
## Sets Methods 
set1={1,2,3}
set2={3,4,5}
## is subset
print(set1.issubset(set2))
set1.update([1, "naran"])
set1

##issuperset
print(set1.issuperset(set2))

False

{1, 2, 3, 'naran'}

In [88]:
lt=[1,2,2,3,4,5,5,6]
set(lt)

{1, 2, 3, 4, 5, 6}

In [94]:
###Counting unique words in text

text="In this  an am tutorial we are discussing about sets"
word=text.split()

##conver list of words to set to get unique words

unique_word=set(word)
print(unique_word)
print(len(unique_word))

{'tutorial', 'sets', 'an', 'about', 'am', 'In', 'are', 'this', 'we', 'discussing'}
10